# Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ / Android Studio
.idea/
*.iws
*.iml
*.ipr
local.properties

# Kotlin
.kotlin/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Env
.env
.env.*
!.env.example

# Postgres data (cuando levantes docker compose)
postgres-data/
minio-data/

# Android
*.apk
*.aab
captures/
keystores/
keystore/
*.jks
*.keystore
keystore.properties
release/

# Compose Multiplatform iOS (futuro)
xcuserdata/
